body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 15em;
    margin-bottom: 1em;
}
