
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  border: 1px solid rgb(138, 139, 135);
  border-radius: 2px;
  word-wrap:break-word;
}

.left {
width: 30%;
cursor: pointer;
}

.right {
width: 70%;
}

.leftInner{
  width: 100%
  
}
.leftInner:focus{
  background-color: rgb(66,139,202);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
